body {
    font-family: 'Marvel', sans-serif;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#charchters-selection > div {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

#charchters-selection img {
    width: 230px;
    height: 230px;
}

.main {
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    color: #333;
    background-color: #fff;
}


a {
    cursor: pointer;
    display: block;
}

#charchters-selection img:hover {
    -webkit-transition: width 200ms ease, bottom 200ms ease, left 200ms ease;
    animation-name: popout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

table {
    width: 80%;
    min-height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    cursor: pointer;
    text-align: center;
    width: 33%;
    height: 33%;
}



table tbody tr:first-child,
table tbody tr:nth-child(2) {
    border-bottom: 2px solid #222;
}

table tbody tr td:nth-child(2),
table tbody tr td:nth-child(3) {
    border-left: 2px solid #222;
}

table tbody tr td img {
    width: 35%;
}


#message {
    text-align: center;
    width: 100%;
    font-size: 24px;
}



#btn-reset {
    text-transform: capitalize;
    color: #fff;
    box-shadow: 0 7px 0 #a0050b;
    min-height: 40px;
    min-width: 75px;
    background-color: #ed1a29;
    border: none;
    font-size: 24px;
    outline: none;
    font-weight: 600;
}

#skins-selection {
    width: 100%;
}

    #skins-selection a {
        display: inline-block;
    }

    #skins-selection img {
        width: 150px;
        height: 150px;
    }

footer {
    background: #232323;
    width: 100%;
    min-height: 200px;
    color: #fff;
}



@keyframes popout {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.2);
    }
}
